body, .bg-dark {
  background: linear-gradient(90deg, #9DCAF3 21px, transparent 1%) center, linear-gradient(#9DCAF3 21px, transparent 1%) center, #0C0D0E;
  background-size: 22px 22px;
}

h1 {
    background-color: antiquewhite;
}
.carousel-item {
    width: 100%;
    max-height: 91vh;
}

.donate-card-section {
    padding: 10vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}